.movie-style {
  min-height: 100vh;
  width: 100%;
}
.movie-container-style {
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 1.5px;
}
.title-rating-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}
.movie-container-style img {
  height: 60vh;
  object-fit: contain;
}
.navigate {
  display: block;
  width: fit-content;
  /* padding: 5px 10px; */
  font-size: 60px;
}
.navigate:hover {
  animation: bump 0.5s;
}
@keyframes bump {
  10% {
    scale: 0.8;
  }
  20% {
    scale: 1.2;
  }
  30% {
    scale: 1;
  }
}
@media (max-width: 500px) {
  .movie-container-style {
    width: 100%;
  }
  .navigate {
    font-size: 20px;
  }
}
