.search-style {
  width: 100%;
  margin: 10px 0;
  height: 30px;
  padding: 0 10px;
  outline: none;
  letter-spacing: 1.5px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 500px) {
  .search-style {
    width: 90%;
  }
}
