* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  letter-spacing: 1.5px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.951);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.5s ease-in;
}
